@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --white0: #FFFFFF;
    --white5: #F7F7F7;
    --white10: #EDEDED;
    --white15: #E3E3E3;
    --black70: #534E57;
    --black75: #333036;
    --black80: #272529;
    --black85: #222024;
    --black90: #1A191C;
    --grey10: #E8E1F0;
    --grey15: #D9D9D9;
    --grey25: #BDBDBD;
    --grey30: #B2ACB8;
    --grey50: #807F7F;
    --grey60: #6B6A6A;
    --grey65: #595959;
    --grey80: #333333;
    --grey90: #1A1A1A;
    --red25: #EA8A98;
    --red35: #E66A7D;
    --red45: #E63E61;
    --red60: #C90054;
    --teal45: #5AC2A9;
    --teal60: #00D4A1;
    --teal65: #00AB81;
    --teal75: #007864;
    --purple10: #D7C2FF;
    --purple15: #CAADFF;
    --purple20: #B795FF;
    --purple30: #9969FF;
    --purple40: #7538FF;
    --purple45: #601AFF;
    --blue50: #00CBF5;
    --blue60: #00A3C7;
    --blue75: #00748A;
    --orange25: #FFA482;
    --orange40: #E6714C;
    --orange55: #BA4020;
    --yellow55: #F0BB00;
    --yellow65: #BD9300;
    --yellow75: #8A6400;
    --green55: #00ED4F;
    --green65: #00AD39;
    --green75: #007A22;
    --pink20: #F699FF;
    --pink35: #E657FF;
    --pink60: #AD00C9;
    --neutral: var(--grey10);
    --white: var(--white0);
    --black: var(--grey90);
    --redFill: var(--red45);
    --redFillAlt: var(--red35);
    --tealAlt: var(--teal45);
    --tealFill: var(--teal65);
    --tealFillAlt: var(--teal45);
    --purpleFill: var(--purple30);
    --purpleFillAlt: var(--purple20);
    --blueFill: var(--blue60);
    --orangeFill: var(--orange40);
    --yellowFill: var(--yellow65);
    --greenFill: var(--green65);
    --pinkFill: var(--pink35);
    --greyFill: var(--grey50);
    --bgLevel1: var(--black90);
    --bgLevel2: var(--black85);
    --bgLevel3: var(--black80);
    --bgLevel4: var(--black75);
    --bgLevel5: var(--black70);
    --greyHighlighted: var(--grey10);
    --purple: var(--purple15);
    --textMinimal: var(--grey25);

  }

  .dark {

    --background: 20 14.3% 4.1%;

    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;

    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;

    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;

    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;

    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;

    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;

    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;

    --input: 12 6.5% 15.1%;

    --ring: 24 5.7% 82.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
    box-sizing: border-box
  }

  body {
    @apply bg-background text-foreground;
    scrollbar-width: none;
    font-family: var(--font-ibm-sans), sans-serif;
    background-color: var(--bgLevel1);
    background-image: url('../assets/Trame.svg');
    background-size: cover;
    /* Ajuste pour couvrir tout l'écran */
    background-position: center;
    background-repeat: no-repeat;
  }
}